<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>

    <div id="header">
		<div id="headertext"><a href="index.php">FILMEN GUNEA</a></div>
	</div>
	<div id="nav">
		<div style="width:1000px;margin:auto;">
           <ul>
		        <li><a href="{% url 'filmakIkusi' %}">Filmak ikusi</a></li>
               <li><a href="{% url 'bozkatu' %}">Bozkatu</a></li>
               <li><a href="{% url 'zaleak' %}">Zaleak</a></li>
               <li><a href="{% url 'logout' %}">Atera saiotik</a></li>
           </ul>
		</div>
    </div>
    <div id="bozkatukutxa">
           <center><h2>Bozkatu zure gogoko pelikula</h2></center> 
    <form action="" method="post">
        {% csrf_token %}
        <select name="filmak" id="filmak">
            {% for film in filmak %}
            <option value="{{ film.izenburua }}">{{ film.izenburua }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Bozkatu">
    </form>
    <b>{{mezua1}}</b>
    <b>{{mezua2}}</b>
    <b>{{error}}</b>

    </div>
</body>
</html>