<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>

    <div id="header">
		<div id="headertext"><a href="index.php">FILMEN GUNEA</a></div>
	</div>
	<div id="nav">
		<div style="width:1000px;margin:auto;">
           <ul>
		        <li><a href="{% url 'filmakIkusi' %}">Filmak ikusi</a></li>
               <li><a href="{% url 'bozkatu' %}">Bozkatu</a></li>
               <li><a href="{% url 'zaleak' %}">Zaleak</a></li>
               <li><a href="{% url 'logout' %}">Atera saiotik</a></li>
           </ul>
		</div>
    </div>
    <div id="filmakikusikutxa">
           <center><h2>Filmak ikusi</h2></center> 

    <table id="filmTaula">
        <tr><th>Izenburua</th><th>Zuzendaria</th><th>Urtea</th><th>Generoa</th><th>Sinopsia</th><th>Bozkak</th></tr>
        {% for film in content %}
        <tr><td>{{ film.izenburua }}</td><td>{{ film.zuzendaria }}</td><td>{{ film.urtea }}</td><td>{{ film.generoa }}</td><td>{{ film.sinopsia }}</td><td>{{ film.bozkak }}</td></tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if content.has_previous %}
            <a href="?page={{ content.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ content.number }} of {{ content.paginator.num_pages }}.
            </span>
            {% if content.has_next %}
            <a href="?page={{ content.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    </div>

</body>
</html>