<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
</head>
<body>
    <h1 style="color:green">Menua</h1>

    <table id="filmTaula">
        <tr><td>Izenburua</td><td>Zuzendaria</td><td>Urtea</td><td>Generoa</td><td>Sinopsia</td><td>Bozkak</td></tr>
        {% for film in content %}
        <tr><td>{{ film.izenburua }}</td><td>{{ film.zuzendaria }}</td><td>{{ film.urtea }}</td><td>{{ film.generoa }}</td><td>{{ film.sinopsia }}</td><td>{{ film.bozkak }}</td></tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if content.has_previous %}
            <a href="?page={{ content.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ content.number }} of {{ content.paginator.num_pages }}.
            </span>
            {% if content.has_next %}
            <a href="?page={{ content.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</body>
</html>