<html>
<head>
    <title>{{ title }}</title>
</head>

<body>
    <center>
        <h2>LOGIN</h2>
        <form action="" method="post">
            {% csrf_token %}
            <b><label for="{{ form.erabiltzailea.id_for_label }}">Erabiltzailea: </label></b>{{form.erabiltzailea}}<br />
            <b><label for="{{ form.pasahitza.id_for_label }}">Pasahitza: </label></b>{{form.pasahitza}}<br /><br />
            <input type="submit" value="Logeatu">
        </form>
        <p style="color:red;"><b>{{error}}</b></p>
    </center>
</body>
</html>
