<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>

    <div id="header">
		<div id="headertext"><a href="index.php">FILMEN GUNEA</a></div>
	</div>
	<div id="nav">
		<div style="width:1000px;margin:auto;">
           <ul>
		        <li><a href="{% url 'filmakIkusi' %}">Filmak ikusi</a></li>
               <li><a href="{% url 'bozkatu' %}">Bozkatu</a></li>
               <li><a href="{% url 'zaleak' %}">Zaleak</a></li>
               <li><a href="{% url 'logout' %}">Atera saiotik</a></li>
           </ul>
		</div>
    </div>
</body>
</html>
