<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
</head>
<body>
    <h1 style="color:green">Filmen gunea</h1>
    <h3>Aukerak</h3>
    <ul>
        <li><a href="{% url 'filmakIkusi' %}">Filmak ikusi</a></li>
        <li><a href="{% url 'bozkatu' %}">Bozkatu</a></li>
        <li><a href="{% url 'zaleak' %}">Zaleak</a></li>
    </ul>
    <a style="vertical-align:bottom" href="{% url 'logout' %}">ATERA SAIOTIK</a>
</body>
</html>
