<html>
<head>
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>

    <div id="header">
		<div id="headertext"><a href="index.php">FILMEN GUNEA</a></div>
	</div>
	<div id="nav">
		<div style="width:1000px;margin:auto;">
           <ul>
		        <li><a href="{% url 'index' %}">Hasiera</a></li>
               <li><a href="{% url 'login' %}">Login</a></li>
               <li><a href="{% url 'register' %}">Erregistratu</a></li>
           </ul>
		</div>
    </div>

    <div id="registerkutxa">    
    <center>
        <h2>REGISTER</h2></center>
        <form action="" method="post">
            {% csrf_token %}
            <b><label for="{{ form.erabiltzailea.id_for_label }}">Erabiltzailea: </label><br /></b>{{form.erabiltzailea}}<br />
            <b><label for="{{ form.pasahitza.id_for_label }}">Pasahitza: </label><br /></b>{{form.pasahitza}}<br />
            <b><label for="{{ form.pasahitza2.id_for_label }}">Errepikatu pasahitza: </label><br /></b>{{form.pasahitza2}}<br />
            <input type="submit" value="Erregistratu">
        </form>
        <p style="color:red;"><b>{{message}}</b></p>
        Dagoeneko kontu bat baduzu, logeatu <a href="{% url 'login' %}">hemen</a>.
    </div>

</body>
</html>