<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
</head>
<body>
    <h1 style="color:green">Zaleak</h1>
    <form action="" method="post">
        <select name="filmak" id="filmak">
            {% for film in filmak %}
            <option value="{{ film.izenburua }}">{{ film.izenburua }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Erakutsi zaleak">
    </form>
</body>
</html>